<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adxcorp.adsample">

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ADXSample"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InterstitialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CloseAdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NativeAdFactoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NativeAdRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppWallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RewardedVideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RewardedVideoAdMobActivity"></activity>
    </application>

</manifest>